<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="ch.mbaumeler.phonegap.plugin.wlan"
      version="0.2.0">
    <name>WlanPlugin</name>
    <description>Plugin to enable or disable the wlan status</description>
    <license>MIT</license>
    <keywords>phonegap,wland</keywords>


    <js-module src="www/wlanstate.js" name="wlanState">
        <clobbers target="window.wlanState" />
    </js-module>

    <!-- android -->
    <platform name="android">
	
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WlanPlugin">
                <param name="android-package" value="ch.mbaumeler.phonegap.plugin.wlan.WlanPlugin"/>
            </feature>
        </config-file>
       
	   <config-file target="AndroidManifest.xml" parent="/manifest">
           <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
			<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
        </config-file>
	   
        <source-file src="src/android/WlanPlugin.java" target-dir="src/ch/mbaumeler/phonegap/plugin/wlan" />      
     </platform>          
</plugin>